$button-background: #336EFF;
$button-color: #FFFFFF;
$button-hover: #2D5FD9;
$error-background: #FFB4B4;
$error-border: #E60000;
$li-colorText: #000000;




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1 {
  padding: 100px 0 50px 0;
}

input {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;

}

button {
  width: 120px;
  border-radius: 20px;
  padding: 5px;
  background-color: $button-background;
  border: 0;
  color: $button-color;
}

button:hover {
  background-color: $button-hover;
}

.error-message {
  background-color: $error-background;
  border-radius: 30px;
  border: 2px solid $error-border;
  margin-top: 20px;
  width: 400px;

  p {
    margin: 0;
  }
}

.output {
  h2 {
    font-size: 2em;
    margin-top: 40px;
  }
  h3 {
    margin-top: 40px;
  }

  span {
    color: $li-colorText;
  }
}
