$input-border-color: #000000;
$button-background: #336EFF;
$button-color: #FFFFFF;
$button-hover: #2D5FD9;
$error-background: #FFDCDC;
$error-border: #E60000;
$li-colorText-day: #000000;
$text-background-color-day: rgba(255, 255, 255, 0.5);
$li-colorText-evening: #FFFFFF;
$text-background-color-evening: rgba(0, 0, 0, 0.5);

$scrollbar-background: #EBEDEF;
$scrollbar-color: #5D6D7E;
$scrollbar-hover: #34495E;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3em;
  padding: 100px 0 50px 0;
}

input {
  width: 400px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid $input-border-color;
  text-align: center;
}

input:focus {
  outline: none;
  border: 1px solid $button-background;
}

button {
  width: 140px;
  border-radius: 20px;
  padding: 5px;
  background-color: $button-background;
  border: 0;
  color: $button-color;
}

button:hover {
  background-color: $button-hover;
}

.error-message {
  background-color: $error-background;
  border-radius: 30px;
  border: 2px solid $error-border;
  margin-top: 20px;
  width: 450px;

  p {
    margin: 0;
  }
}

.day-output {
  h2 {
    font-size: 2em;
    margin-top: 40px;
    display: table;
    background-color: $text-background-color-day;
  }
  p {
    display: table;
    background-color: $text-background-color-day;
  }
  li::marker {
    size: 1.6rem;
  }
  span {
    color: $li-colorText-day;
    background-color: $text-background-color-day;
  }
  h3 {
    margin-top: 30px;
    display: table;
    background-color: $text-background-color-day;
  }
}

.evening-output {
  h2 {
    font-size: 2em;
    margin-top: 40px;
    display: table;
    color: $li-colorText-evening;
    background-color: $text-background-color-evening;
  }
  p {
    display: table;
    color: $li-colorText-evening;
    background-color: $text-background-color-evening;
  }
  span {
    color: $li-colorText-evening;
    background-color: $text-background-color-evening;
  }
  h3 {
    margin-top: 30px;
    display: table;
    color: $li-colorText-evening;
    background-color: $text-background-color-evening;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $scrollbar-background;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-hover;
}

// Mobile
@media only screen and (max-width: 480px) {
  body {
    background-attachment: scroll;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
  }

  h1 {
    font-size: 2.5em;
    padding: 75px 0 50px 0;
  }

  input {
    width: 240px;
  }

  button {
    width: 100px;
    font-size: 1em;
    padding: 3px;
  }

  .error-message {
    width: 300px;
    font-size: 0.9em;
  }
}
